a{
    display:block;
    /* margin: 5px auto; */
}

img{
    display: block;
    margin: auto;
    width: 80%;
}

html{
    background-color: #bbbb00;
}

h1{
    text-align: center;
    text-shadow: rgb(4, 0, 255) 1px 1px 1px;
}

body{
    background-color:cadetblue;
    margin: 0 auto;
    padding: 0 30px;
    width: 80%;
    border: 1px solid black;
}